data/WERKVERZEICHNIS.csv
static/art/

images/*
images

node_modules
npm-debug.log

package-lock.json

.env
yarn-error.log
.ipynb_checkpoints
.DS_Store
*.sqlite3
*.sqlite

.~lock*
__pycache__
env/
shell/
