[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dataflows = "*"
pandas-datapackage-reader = "*"
flask-api = "*"

[requires]
python_version = "3.6"
