-i https://pypi.org/simple
awesome-slugify==1.6.5
bitarray==0.8.3
blessings==1.7
cchardet==2.1.4
certifi==2018.10.15
chardet==3.0.4
click==7.0
dataflows==0.0.32
datapackage==1.5.1
et-xmlfile==1.0.1
flask-api==1.0
flask==1.0.2
idna==2.7
ijson==2.3
inquirer==2.5.1
isodate==0.6.0
itsdangerous==1.1.0
jdcal==1.4
jinja2==2.10
jsonlines==1.2.0
jsonpointer==1.14
jsonschema==2.6.0
kvfile==0.0.6
linear-tsv==1.1.0
markupsafe==1.0
numpy==1.15.3
openpyxl==2.4.11
pandas-datapackage-reader==0.11.1
pandas==0.23.4
pybloom-live==2.3.2
python-dateutil==2.7.5
pytz==2018.7
readchar==2.0.1
regex==2018.11.2
requests==2.20.0
rfc3986==1.1.0
six==1.11.0
sqlalchemy==1.2.13
tableschema-sql==0.10.4
tableschema==1.2.5
tabulate==0.8.2
tabulator==1.18.0
unicodecsv==0.14.1
unidecode==0.4.21
urllib3==1.24
werkzeug==0.14.1
xlrd==1.1.0
