body {
  margin-top: 1em;
  background-color: #ccc !important;
}

.tab-content h5 {
  margin-top: 1em;
}

.nav-tabs > li:first-child {
  margin-left: 25%;
}

.nav-tabs {
  margin-top: 1em;
}

.form-group .form-check {
  padding-bottom: 0.5em;
}
.form-group .form-check small {
  background: #eee; color: #333;
  padding: 0.2em 0.4em;
  margin-left: 0.4em;
  display: inline-block;
}

#selection {
  margin: 1em 0;
}
#selection span {
  background: #eee; color: #333;
  padding: 0.2em 0.4em;
  margin-right: 1em;
  display: inline-block;
}

#results .container {
  margin-top: 1em;
  padding-top: 1em;
}

#results .item {
  padding: 20px;
}

#results .item img {
  max-width: 100%;
}

#details {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: none;
}

#details .image {
  cursor: pointer;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}
