body { 
  margin-top: 1em; 
}

.pswp__button--arrow--left::before, .pswp__button--arrow--right::before {
  background-color: #ccc !important;
}

.pswp__bg, .pswp__caption, .pswp__top-bar, body {
  background-color: #ccc !important;
  color: #000;
}

.anleitung-infoblock{
  background-color:white;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.anleitung {
  margin: 0 .25rem 0 0;
}

/*   new navigation styles   */
.flex-container {
  display: flex;
  align-items: baseline;
}
.btn_bildarchiv {
/*  background-color:rgb(154,154,154);*/
  color:black;
  padding: .5rem 1rem;
  cursor: pointer; /* Mouse pointer on hover */
  
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  display:inline-block;
}
.btn_bildarchiv:hover {
  background-color: rgb(210,210,210);
  color:black;
}
.btn_bildarchiv.active {
  background-color: white;
}
.auswahl {
  margin-left: auto;
  margin-right: 1em;
}
.anzeige {
  margin-right: auto;
}
.anzeige .btn_bildarchiv {
  background-color:rgb(255,255,255);
  padding: .25rem 1rem;
  border-radius: .25rem;
}
.anzeige .disable {
  cursor: default;
  opacity: 0.25;
}

/*.kategorien { }*/

/* end new navigation styles */
#anderes input{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

#anderes .form-check-input {
  border:1px solid green;
  padding: 0;
}

#total {
  padding: 0.2em 0.4em;
  font-size: 80%;
  background: #eee;
  color: #555;
}

.tab-content h5 {
  margin-top: 1em;
}

.nav-tabs {
  margin-top: 1em;
}

.form-group .form-check {
  padding-bottom: 0.5em;
}

.form-group .form-check count {
  margin: 0;
/*  width: 100%; */
  display: inline-block;
  text-align: left;
  padding-right:.25rem;
  z-index: -1;
}
.form-group .form-check count span {
  padding: 0.2em 0.4em;
  font-size: 80%;
  background: #eee;
  color: #555;
  opacity: 0.4;
}
.form-group .form-check:hover count span {
  opacity: 1.0;
}

.form-group .form-check-input + label {
  border: 1px solid transparent;
}

.form-group .form-check-input:checked + label {
  border: 1px solid blue;
}

button#back {
  float: right;
}

#spinnerModal span {
  font-size: 200%;
  font-weight: bold;
  color: blue;
}

#selection {
  margin: 1em 0;
  text-align: center;
}
#selection span {
  background: #eee; color: #333;
  padding: 0.2em 0.4em;
  margin-right: 1em;
  display: inline-block;
}

#results .container {
  margin-top: 1em;
  padding-top: 1em;
}

#results .item {
  padding: 20px;
}

#results .item img {
  max-width: 100%;
}

#details {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: none;
}

#details .image {
  cursor: pointer;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.pagination {
  width: 100%; text-align: center; padding: 1em;
  display: block;
}
.pagination button { font-size: 200%; }

.Nummer, .Techniken { margin-right: 2em; }

.Nummer::before { content:'[' }
.Nummer::after { content:']' }

.Techniken sm {
  font-size: 80%;
  background: #eee; color: #333;
  padding: 0.2em 0.4em;
}

.pswp__caption__center {
  text-align: center;
  max-width: 600px;
  color: black;
}

#footer .row {
  font-size: 80%; text-align: center;
}
