body {
  margin-top: 1em;
  background-color: #ccc !important;
}

#stats {
  font-weight: 400;
}
#total {
  padding: 0.2em 0.4em;
  font-size: 80%;
  background: #eee;
  color: #555;
}

.tab-content h5 {
  margin-top: 1em;
}

.nav-tabs > li:first-child {
  margin-left: 25%;
}

.nav-tabs {
  margin-top: 1em;
}

.form-group .form-check {
  padding-bottom: 0.5em;
}

.form-group .form-check count {
  margin: 0;
  width: 100%;
  position: absolute;
  display: inline-block;
  text-align: right;
  z-index: -1;
}
.form-group .form-check count span {
  padding: 0.2em 0.4em;
  font-size: 80%;
  background: #eee;
  color: #555;
  opacity: 0.4;
}
.form-group .form-check:hover count span {
  opacity: 1.0;
}

.form-group .form-check-input + label {
  border: 1px solid transparent;
}

.form-group .form-check-input:checked + label {
  border: 1px solid blue;
}

button#back {
  float: right;
}

#spinnerModal span {
  font-size: 200%;
  font-weight: bold;
  color: blue;
}

#selection {
  margin: 1em 0;
  text-align: center;
}
#selection span {
  background: #eee; color: #333;
  padding: 0.2em 0.4em;
  margin-right: 1em;
  display: inline-block;
}

#results .container {
  margin-top: 1em;
  padding-top: 1em;
}

#results .item {
  padding: 20px;
}

#results .item img {
  max-width: 100%;
}

#details {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: none;
}

#details .image {
  cursor: pointer;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.pagination {
  width: 100%; text-align: center; padding: 1em;
  display: block;
}
.pagination button { font-size: 200%; }

.Nummer, .Techniken { margin-right: 2em; }

.Nummer::before { content:'[' }
.Nummer::after { content:']' }

.Techniken sm {
  font-size: 80%;
  background: #eee; color: #333;
  padding: 0.2em 0.4em;
}

.pswp__caption__center {
  text-align: center;
  max-width: 600px;
}
